[data-wm-plugin="page-nav"] {
  position: fixed;
  bottom: 34px;
  left: 50%;
  transform: translate(-50%, 250px);
  transition: transform 0.3s ease;
  z-index: 9999;
}

[data-wm-plugin="page-nav"] nav {
  padding: var(--fn-padding, 4px);
  border-radius: var(--fn-border-radius, 2rem);
  background: var(--fn-background, hsla(var(--lightAccent-hsl)));
  border-style: var(--fn-border-style, solid);
  border-width: var(--fn-border-width, 0px);
  border-color: var(--fn-border-color, hsla(var(--safeLightAccent-hsl)));
  box-shadow: var(--fn-shadow-offset-x, 2px) 
    var(--fn-shadow-offset-y, 2px) 
    var(--fn-shadow-blur, 4px) 
    var(--fn-shadow-spread, 0px) 
    var(--fn-shadow-color, hsla(0, 0%, 0%, 0.15));
  display: inline-flex;
  position: relative;
  flex-wrap: no-wrap;
  overflow: auto;
  width: 100%;
  max-width: var(--fn-max-width, 90vw);
}

[data-wm-plugin="page-nav"] button {
  flex-grow: 1;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: var(--fn-border-radius, 2rem);
  padding: var(--fn-padding-v, 4px) var(--fn-padding-h, 8px);
  color: var(--fn-button-background, hsla(var(--darkAccent-hsl)));
  background: var(--fn-button-background, 0);
  border-style: var(--fn-button-border-styl, solid);
  border-width: var(--fn-button-border-width, 0px);
  border-color: var(--fn-button-border-color, currentColor);
  z-index: 1;
}

[data-wm-plugin="page-nav"] button.active {
  color: var(--fn-active-button-color, hsla(var(--lightAccent-hsl)));
  background: var(--fn-active-button-background, 0);
  border-color: var(
    --fn-active-button-border-color,
    hsla(var(--safeLightAccent-hsl))
  );
}

[data-wm-plugin="page-nav"] span.indicator {
  width: var(--indicator-width, 100px);
  height: calc(var(--indicator-height, 100%) - (2 * var(--fn-padding, 4px)));
  position: absolute;
  left: var(--indicator-left, 0);
  top: var(--fn-padding, 4px);
  background: var(--fn-indicator-background, hsla(var(--darkAccent-hsl), 1));
  box-sizing: border-box;
  border-radius: var(--fn-indicator-border-radius, 2rem);
  transition: left 0.3s ease, width 0.3s ease, height 0.3s linear;
  z-index: 0;
}
[data-wm-plugin="floating-pagenav"] {
  position: absolute;
  opacity: 0;
}

/* Visible */
[data-wm-plugin="page-nav"].show {
  transform: translate(-50%, 0px);
}